//COLORS FROM OFFICIAL ACC PALETTE
//HEX colors are defined here and should be used only as variables throughout the CSS

//Dark  Blue        #00386B;
//Middle Blue       #198dae
//Light Blue        #c1d6d9
$dark-grey:         grey(80);
$mid-grey:			grey(66);
$grey:        		grey(34);
$light-grey:     	grey(10);
//Teal              #1abc9c

$acc-blue: 			#00386B;
$scrub-teal:		#198dae;
//Scrub Green 		#19bc9d
//Scrub Purple 		#775891

//Error				#c42332
//Warning 			#d17700
//Sucsess			#00a15b

$body-copy-color: 		$dark-grey; 
$notification-color:	#da1334; //red
$horizontal-rule-color:	$light-grey; 
$box-rule-color:		$grey;
$link-color:			$scrub-teal; //blue
$hover-color:			#1abc9c; //seafoam green
$main-bg-color:			#c1d6d9; //some kind of blue
$main-menu-bg-color:	$acc-blue; //dark blue
$current-nav-color:		$mid-grey;
$button-color:			$scrub-teal; //teal
$myacc-color:			$scrub-teal; //lighter
$collapse-header-color:	$light-grey;
$collapse-toggle-color:	$mid-grey;
$tooltip-bg-color:      $mid-grey;

$font-stack:	        'Open Sans',  "Helvetica Neue", "Helvetica",verdana, helvetica, arial, sans-serif;
$content-font-stack:    $font-stack;
$font-stack-headings:	'Roboto Slab', "Times New Roman",  'Lucida Bright', Georgia, serif;

$ms-base: 14px;
$ms-ratio: 1.25;
$baseline-modifier:1.3;




// Bootstrap Variables

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:         $myacc-color;
$brand-success:         #00a15b;
$brand-info:            #5bc0de !default;
$brand-warning:         #d17700 !default;
$brand-danger:          $notification-color;


// Framework Colors
$brand-color:			$acc-blue;
$primary-color:			$brand-primary;
$product-brand-color:	$brand-color;
$secondary-color:		#19bc9d;
$tertiary-color:		#775891;
$attention-color:		$brand-warning;
$warning-color:			$brand-warning;
$success-color:			$brand-success;
$select-color:			$brand-success;
$error-color:			$brand-danger;
$highlight-color: 		$brand-info;