// !! END OF BOOTSTRAP
// @import "../compass";
// @import "compass/reset";
@import "helpers/color-functions";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/breakpoints";

@import "base/fonts";
// modular-scale
@import "vendor/modular-scale";
@import "base/modular-scale-typography";

$font-size-normal: ms(0);
$font-size-medium: ms(2);
$font-size-large: ms(3);
$site-width: 960px;

// Include Bootstrap Components for Ease of Development
// Core variables and mixins
@import "modules/bootstrap/variables";
@import "modules/bootstrap/mixins";

// Reset
//@import "modules/bootstrap/normalize";
//@import "modules/bootstrap/print";

// Core CSS
//@import "modules/bootstrap/scaffolding";
//@import "modules/bootstrap/type";
@import "modules/bootstrap/code";
@import "modules/bootstrap/grid";
@import "modules/bootstrap/tables";
@import "modules/bootstrap/forms";
@import "modules/bootstrap/buttons";

// Components
@import "modules/bootstrap/component-animations";
@import "modules/bootstrap/glyphicons";
@import "modules/bootstrap/dropdowns";
@import "modules/bootstrap/button-groups";
@import "modules/bootstrap/input-groups";
//@import "modules/bootstrap/navs";
//@import "modules/bootstrap/navbar";
//@import "modules/bootstrap/breadcrumbs";
//@import "modules/bootstrap/pagination";
//@import "modules/bootstrap/pager";
//@import "modules/bootstrap/labels";
//@import "modules/bootstrap/badges";
//@import "modules/bootstrap/jumbotron";
//@import "modules/bootstrap/thumbnails";
//@import "modules/bootstrap/alerts";
@import "modules/bootstrap/progress-bars";
//@import "modules/bootstrap/media";
@import "modules/bootstrap/list-group";
@import "modules/bootstrap/panels";
@import "modules/bootstrap/wells";
@import "modules/bootstrap/close";

// Components w/ JavaScript
@import "modules/bootstrap/modals";
@import "modules/bootstrap/tooltip";
@import "modules/bootstrap/popovers";
//@import "modules/bootstrap/carousel";

// Utility classes
@import "modules/bootstrap/utilities";
@import "modules/bootstrap/responsive-utilities";

/**
*	<h1>The Flasgship ACC.ORG</h1>
**/
@import "bootstrap-kitchensink";

//@import "CoveoSearchInterface";
/**
*	<h2>Branding</h2>
*/
@import "base/font-kitchensink";
@import "base/colors-kitchensink";
@import "icons";
@import "ACC-Header-Logo";
@import "footer-wrap";
@import "text-styling";
// Search
@import "modules/search";
// Jquery UI
@import "modules/jquery-ui";
// Zebra Date Picker
@import "modules/datepicker";

@import "theme/layout";
@import "theme/acc-style";
@import "theme/mediaqueries/tablet";
@import "theme/mediaqueries/handheld";
/**
*	<h2>Navigation</h2>
*
*/

@import "nav-primary-holder";
@import "nav-utility-holder";
@import "nav-secondary";

/**
*	<h2>Sidebar</h2>
*/
@import "sidebar";
@import "button";

/**
*	<h2>Space Savers</h2>
*/
@import "collapse-box";
@import "flexslider";
@import "featured-content";
/**
*	<h2>Content Blocks</h2>
*/
@import "content-block-listing";
@import "content-block-nav";
@import "full-article-clinical-trial";

/**
*	<h2>Coveo</h2>
*/
@import "elements/searchbar";
@import "coveo-results-column";
@import "coveo-facet-column";
@import "CoveoResultList";
@import "article-tease";
@import "paywall-overlay";
@import "question";
@import "site-login";
@import "qii-search";
