/**  IE fixes for its miss understanding of media querries. **/
.row .column, .row .columns { padding-right: 0; padding-left: 0; }

.row .large-1, .row .small-1 { position: relative; width: 8.33333%; }

.row .large-2, .row .small-2 { position: relative; width: 16.66667%; }

.row .large-3, .row .small-3 { position: relative; width: 25%; }

.row .large-4, .row .small-4 { position: relative; width: 33.33333%; }

.row .large-5, .row .small-5 { position: relative; width: 41.66667%; }

.row .large-6, .row .small-6 { position: relative; width: 50%; }

.row .large-7, .row .small-7 { position: relative; width: 58.33333%; }

.row .large-8, .row .small-8 { position: relative; width: 66.66667%; }

.row .large-9, .row .small-9 { position: relative; width: 75%; }

.row .large-10, .row .small-10 { position: relative; width: 83.33333%; }

.row .large-11, .row .small-11 { position: relative; width: 91.66667%; }

.row .large-12, .row .small-12 { position: relative; width: 100%; }

.columns input { padding: .25em 5%; width: 90%; }

.row .large- { position: relative; width: 8.33333%; }

.row .large-2 { position: relative; width: 16.66667%; }

.row .large-3 { position: relative; width: 25%; }

.row .large-4 { position: relative; width: 33.33333%; }

.row .large-5 { position: relative; width: 41.66667%; }

.row .large-6 { position: relative; width: 50%; }

.row .large-7 { position: relative; width: 58.33333%; }

.row .large-8 { position: relative; width: 66.66667%; }

.row .large-9 { position: relative; width: 75%; }

.row .large-1 { position: relative; width: 83.33333%; }

.row .large-1 { position: relative; width: 91.66667%; }

.row .large-1 { position: relative; width: 100%; }

body .training-directors .fitlist li.alert-icon { margin-top: 1px; height: 3em; }
